{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>{% trans "quick finance" %}</title>
    <link rel="stylesheet" href="{% static 'quick/ref/css/app.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'quick/ref/css/font-awesome.min.css' %}" type="text/css" />
    <script>
        var dojoConfig = {
            "dojo-debug-messages": true,
            "baseUrl": "/static/quick",
            "async": true,
            tlmSiblingOfDojo: false,
            packages: [
                {
                    name: "react",
                    location: "ref/js",
                    main: "react"
                },
                {
                    name: "react-dom",
                    location: "ref/js",
                    main: "react-dom"
                }
            ]
        };
    </script>
    <script src="{% static 'quick/ref/js/dojo.js.uncompressed.js' %}"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://static.geetest.com/static/tools/gt.js"></script>
</head>
<body>
    <div id="mastheader"></div>
    <div id="content"></div>
    <footer id="pageFooter" class="page-footer"></footer>
    <script>
        require(['app', 'dojo/domReady!'], function(app) {
            {% if user.is_authenticated %}
              app.renderApp(true, '{{ user.username }}');
            {% else %}
              app.renderApp();
            {% endif %}
        });
    </script>
</body>
</html>
